
.jumbotron{
    margin-bottom: 0;
    background-color: #005b4f;

    /* Backgroung texture from https://www.transparenttextures.com/ */
    background-image: url("../assets/diagmonds.png");

    padding: 0.5em 0.6em;
    border-bottom: 2px #ff4081;
    border-style: solid;
}
/* HEADER TEXT */
    h1 {
        font-size: 2em;
        text-shadow: #00332c 2px 2px 5px;
        text-align: center;
    }
    h2{
        font-size: 3.5em;
        font-weight: 300;
    }
    h4{
        font-size: 2em;
        font-weight: 300;
    }
    h5{
        font-size: 1.2em;
        font-weight: 300;
    }
    #header{
        color:white;
    }
    #header-p {
        color: white;
        font-size: 1.7em;
        text-shadow: #00332c 2px 2px 5px;
        text-align: center;
        font-weight: lighter;
    }


/* BUTTONS */

    button{
        background-color: #005b4f;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
    }

    #topBtn{
        background-color: white;
        color: #005b4f;
        margin-left: 43%;
        font-size: 1.1em;
    }

    button:hover {
        opacity: 0.8;
    }
    #addBtn{
        float:right;
        padding: 1.2em;
    }
    #modalAddButton, #profileSaveBtn{
        background-color: #005b4f;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
    }

    #modalRemoveButton{
        background-color: #cc0044;
        width: 100%;
        color: white;
        font-size: 1.1em;
        margin-top: 1em;
        padding: 2%;
    }

/* NAVBAR AND TAB */

    .navbar{
        position: sticky;
        font-size: 1.2em;
        top: 0;
        margin-bottom:0;
        border-radius: 0;
        z-index:1;
    }

    .navbar-right{
        margin-right: 2em;
    }

    .navbar-text{
        margin-right: 3em;
    }

    #tabBus, #tabUsers{
        width: 80%;
        margin:auto;
    }

    .tab-content{
        margin:auto;
    }
    .tab.active {
        display:block;
    }
    .tab {
        display:none;
    }

    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

/* OTHER */

#logo{
    height: 10%;
    width: 10%;
    margin-left: 45%;
    margin-top: 1em;
}


tr:hover{
    background-color: #f1f1f1;
}



#searchField {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#inputSearch{
    width: 25%;
    margin-left: 75%;
    padding-bottom: 2em;
    z-index: 0;
}

#login{
    width: 30%;
    margin-top: 8em;
}
.label{
    font-weight: 300;
}


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add padding to containers */
.containerLogin {
    padding: 16px;

}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


.form-horizontal{
  width: 25%;
  margin-top: 3em;

}

.control-label{
  margin-right: 2em;
}


#wrap {
    min-height: 100%;
}

#footer{
    bottom:0;
    width:100%;
    background-color: #f1f1f1;
    border-top: 1px solid #cccccc;
    padding: 3%;
}

#copyright{
    color: #8c8c8c;
    text-align: center;
}

.profile{
    width: 30%;
    margin: auto;
}

#profileForm{
    padding-bottom: 5em;
}

.has-success {
    background-color:green;
}
.has-error {
    background-color:red;
}
