<!-- This is the home page-->

<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/views/bachelor.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha256.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="javascripts/auth2.js"></script>
    <script src="javascripts/modal.js"></script>
    <script src="javascripts/websocket.js"></script>
    <script src="javascripts/tabs.js"></script>
    <script src="javascripts/searchTable.js"></script>

	<title>RadioWheel</title>
    <link rel="shortcut icon" type="image/png" href="assets/logo1.png">

</head>

<body>

<div class="jumbotron" >
	<h1 id="header">RadioWheel</h1>
	<p id="header-p"> - Ha oversikt over hva som spilles av -</p>
</div>

<nav class="navbar navbar-default tabs">
	<div class="container-fluid">
		<div class="navbar-header" id="navbar-header">
			<img class="navbar-brand" src="../assets/logo1.svg">
			<a class="navbar-brand" href="home" >Administrasjon</a>
		</div>

        <ul class="nav navbar-nav tabcontent">
            <li class ="active" data-toggle="tab" href="#tabUsers" ><a href="#tabUsers">Brukere</a></li>
        </ul>

		<ul class="nav navbar-nav tabcontent tab-links">
			<li class ="" data-toggle="tab" href="#tabBus" role="tab"><a href="#tabBus">Busser</a></li>
		</ul>

        <ul class="nav navbar-nav navbar-right">
            <li data-toggle="tab" href="#tabProfile"><a href="#tabProfile"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
            <li><a href="/logout" onclick="window.location = '/logout'"><span class="glyphicon glyphicon-log-out"></span> Logg ut</a></li>
        </ul>
	</div>
</nav>

<!--TAB 1: busses -->
<div class="tab-content">
<div class="tab" id="tabBus">
	<h2 >Oversikt over busser</h2>

	<!--Search input -->
	<form>
		<div id="inputSearch"class="input-group">
			<input id="search" type="text" class="form-control" placeholder="Søk på buss">
			<div class="input-group-btn">
				<button class="btn btn-default" type="submit">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
		</div>
	</form>

    <table class="table" id="overviewTableNew">
        <thead>
            <tr>
                <th>Hvilken buss</th>
                <th>Hva spilles</th>
                <th>Status</th>
                <th>Endre</th>
            </tr>
        </thead>
        <tbody>
        <% for(i = 0; i < buses.length; i++) { %>
            <tr class="modalOpenButton" id="rowbus<%=buses[i].idBus%>">
                <!-- Bus ID-->
                <td class="busField"><%= buses[i].idBus%></td>

                <!-- shows playing channel -->
                <% if (buses[i].channel != null) {%>
                    <td class="channelField"><%=buses[i].channel %></td>
                <%  } else {%>
                    <td class="channelField"></td>
                <% } %>

                <!-- if active != 0 show active-->
                <% if (buses[i].active == 0 ){%>
                <td class ="activeField">Inaktiv</td>
                <%  } else {%>
                <td class="activeField">Aktiv</td>
                <% } %>

                <!--Button in table opens modal. Has ID "bus" + number from data  -->
                <td><button id = "bus<%=buses[i].idBus%>" type="button" class="btn btn-default btn-sm" style="background-color:#DCF1EE">
                        <span class="glyphicon glyphicon-pencil"></span></button>
                </td>
            </tr>
        <%}%>
        </tbody>
    </table>
    <nav>
        <button id="topBtn" type="button" onclick="toTheTop()" title="Go to top">Gå til toppen
            <span class="glyphicon glyphicon-chevron-up"></span></button>
    </nav>
</div>

    <!--TAB 2: users -->
    <div class="tab active" id="tabUsers">
        <h2 id="userHeader">Oversikt over brukere</h2>

        <button type="button" id="addBtn" data-toggle="modal" data-target="#userModal"><span class="glyphicon glyphicon-plus"></span>  Ny bruker</button>
        <table class="table" id="userTableNew">
            <thead>
            <tr>
                <th>Navn</th>
                <th>Bruker-ID</th>
                <th>Forbindelser</th>
            </tr>
            </thead>
            <tbody>
            <% for(i = 0; i < users.length; i++) { %>
            <tr class="modalUserButton" id="rowuser<%= users[i].idUser%>">
                <!-- Bus ID-->
                <td class="userField"><%= users[i].name%></td>

                <td class ="idField"><%= users[i].idUser%></td>

                <!-- shows playing channel -->
                <td class="connectionField"><%=users[i].Bus_idBus %></td>

            </tr>
            <%}%>
            </tbody>
        </table>

        <nav>
            <button id="topBtn" type="button" onclick="toTheTop()" title="Go to top">Gå til toppen
                <span class="glyphicon glyphicon-chevron-up"></span></button>
        </nav>
    </div>

    <!--TAB 3: Profile -->
    <div class="tab" id="tabProfile">
        <div class="profile">
            <h2 id="profileHeader">Min profil</h2>
        <form id="profileForm">
            Brukernavn:
            <input type="text" name="firstname">
            <br>
            Passord:
            <input type="text" name="password">
            <br>
            Nytt passord:
            <input type="text" name="newPassword">
            <input type="submit" id="profileSaveBtn" name="save">
        </form>
        </div>
    </div>
</div>

<!-- Modal: edit playback -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Reguler avspilling</h4>
			</div>
			<div class="modal-body">
                <h5>Buss: </h5>
                <input type="text" id="modalBusField">

                <h5> Aktivitet: </h5>
                <input type="text" id="modalActiveField">

                <h5>Spiller av: </h5>
                <input type="text" id="modalChannelField">

                <button type="button">Endre avspilling <span class="glyphicon glyphicon-pencil"></span></button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal: add user -->
<div id="userModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Legg til bruker</h4>
            </div>
            <div class="modal-body">
                <form id="newUser" action="/newUser" method="post">
                    Navn: <input type="text" name="name" placeholder="Skriv inn fullt navn" required><br>
                    Brukernavn: <input type="text" name="username" placeholder="eks: olanord" required><br>
                    Passord: <input type="password" id="psw" name="password" placeholder="Skriv inn passord" required><br>
                    Gjenta passord: <input type="password" name="confPassword" placeholder="Gjenta passord" required><br>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="adminCheck">
                        <label class="form-check-label" for="adminCheck">Administrator</label>
                    </div>
                    <input type="submit" id="modalAddButton" value="Legg til">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Delete user -->
<div id="userDeleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Slett bruker</h4>
            </div>
            <div class="modal-body">
                <form id="deleteUser" action="/deleteUser" method="post">
                    Navn: <input type="text" id="modalNameField" name="username"><br>
                    Bruker-ID: <input type="text" name="id" id="modalIdField" required><br>
                    <input type="submit" id="modalRemoveButton" value="Slett">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>

<!-- footer at bottom of page -->
<footer id="footer">
    <p id="copyright">FourC AS © 2013 - 2018 - All Rights Reserved</p>
</footer>

</body>
</html>