<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="views/bachelor.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascripts/auth2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha256.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="assets/logo1.png">
</head>
<body >
<div class="jumbotron">
    <h1 id="header">RadioWheel</h1>
    <p id="header-p"> For administratorer</p>
</div>
</div>

<form id="local-sign-in" action="/login" method="post">
    <div id="login" class="container">
        <label for="uname"><b>Brukernavn</b></label>
        <input type="text" placeholder="Skriv inn brukernavn" name="username" required>

        <label for="psw"><b>Passord</b></label>
        <input id="psw" type="password" placeholder="Skriv inn passord" name="password" required>

        <button type="submit" id="loginBtnn">Logg inn</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Husk meg
        </label>
    </div>
</form>
</body>
</html>
